
* {
	margin:0pt;
	padding:0pt;
}

body {
    background-image: url(image2.jpg) ;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: auto;
     
		
}

.content {
	width:920px;
	margin: 0px auto;	
	
}

h1{
	text-align: center;
	font-size:60px;
	font-weight:bold;
	font-family:"myriad pro";
	color:#fff;
}
#menu li {
        
    padding: 2px;
    display:inline;
}
#menu ul {
	font-size:36px;
    text-align: center;
}

#menu ul li a{
	color: black;	
}

#menu ul li a:hover{
	color:#fff;	
}

#menu ul li.selected a{
	color:#fffdbf;
	background:url(menuhover.png) repeat;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}

pre{
    text-align: center;
    font-size: 35px;
}
h2{
    font-size:35px;
    margin: 5px;
}
